body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.712);
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.container_dados{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;    
    padding: 5px;
    margin-bottom: 20px;
}

input{
    width: 70%;
    margin: 0 5px;
}

.inputSerie{
    width: 30px;
}


.container_gerar{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

#pdfContainer{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.timerContainer {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: rgba(158, 8, 8, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.timer {
    font-size: 18px;
}